<div id="about">
  <p>Stack used for making this app: </p>
  <ul>
    <li>
      <a href="https://angular.io" target="_blank">Angular</a>
    </li>
    <li>
      <a href="https://sass-lang.com/" target="_blank">Sass</a>
    </li>
  </ul>
  <p>Many thanks to <a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA" target="_blank">Traversy Media</a> Youtube channel for this <a href="https://www.youtube.com/watch?v=Fdf5aTYRW0E" target="_blank">tutorial</a> that I used as a reference.</p>
</div>
