.todo {
  margin: 10px;
  display: flex;
  align-items: center;

  &.is-complete {

    & > p {
      text-decoration: line-through;
    }    
  }

  & > p {
    flex-grow: 10;
  }

  & > .btn-remove {
    color: red;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 15px;
    user-select: none;
    outline: none;
    align-self: center;
  }

}